/**
* flex-box.css
**/

.flex-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 0;
}
.flex-h {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-width: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  min-width: 0;
}
.flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-width: 0;
}
/* .flex-box view,
.flex-box text {
	min-width: 0;
} */
.flex-box-v {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
  min-width: 0;
}
.flex-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  flex: 1;
  min-width: 0;
}
.flex-2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  box-flex: 2;
  min-width: 0;
}
.flex-3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  box-flex: 3;
  min-width: 0;
}
.flex-center-center {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  min-width: 0;
}
.flex-v-ce,
.flex-h-ce {
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  min-width: 0;
}
.flex-v-start,
.flex-h-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-pack: flex-start;
  min-width: 0;
}
.flex-v-zhu,
.flex-h-zhu {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  min-width: 0;
}
.flex-v-end,
.flex-h-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-align: flex-end;
  min-width: 0;
}
.flex-direction-row-reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  min-width: 0;
}
.flex-h-space-between {
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-width: 0;
}
.flex-wrap {
  flex-wrap: wrap;
  min-width: 0;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.flex-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
/*row栅格系统 end*/

/* 蓝湖 */
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-start {
  display: flex;
  justify-content: flex-start;
}
.justify-center {
  display: flex;
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}
.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}
.justify-around {
  display: flex;
  justify-content: space-around;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.align-start {
  display: flex;
  align-items: flex-start;
}
.align-center {
  display: flex;
  align-items: center;
}
.align-end {
  display: flex;
  align-items: flex-end;
}
